<span class="aside-toggle icon-menu"></span>
    <aside class="col-3 col-12--phone col-3--tablet">
        <div class="col-3 col-12--phone col-3--tablet">
            <figure>
                <img src="{{ site.baseurl }}{{ site.assets }}/img/mate_logo.svg" alt="Mate" width="100" height="100">
                <a href="{{ site.baseurl }}/docs/">{{ site.title }}<span>{{ site.current_version }}</span></a>
            </figure>

            <ul class="list-unstyled">
                {% assign page_slug = page.url | split: '/' | last %}

                {%- for nav_item in site.nav -%}
                    {%- assign nav_item_slug = nav_item.title | slugify -%}
                    {%- assign nav_item_title = nav_item.title -%}
                    {%- assign active = nil -%}

                    {%- if nav_item_slug == 'index' -%}
                        {%- assign nav_item_slug == '' -%}
                        {%- assign nav_item_title = 'Start' -%}
                    {%- endif -%}

                    {%- if page_slug == nav_item_slug  -%}
                        {%- assign active = ' class="active"' -%}
                    {%- endif -%}

                <li{{ active }}>
                    <a href="{{ site.baseurl }}/docs/{{ nav_item_slug }}">
                        {{ nav_item_title }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <div class="aside__footer col-3">
                <a href="{{ site.repository_url }}" target="_blank">GitHub</a>
            </div>
        </div>
    </aside>