<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{config.title}}</title>
    <meta name="desscription" content="{{config.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="mate fef">

    <link rel="stylesheet" href="styles/css/mate-doc.css">
    <link rel="stylesheet" href="js/vendors/prism/prism.css">

    <script src="js/vendors/jquery-2.1.3.min.js"></script>
    <script src="js/vendors/prism/prism.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

<main>
    <span class="aside-toggle icon-menu"></span>
    <aside class="col-3 col-12--phone col-3--tablet">
        <div class="col-3 col-12--phone col-3--tablet">
            <figure>
                Mate<span>beta</span>
            </figure>

            <ul class="list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><a href="grid.html">Grid system</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="forms.html">Forms</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="toolbox.html">Toolbox</a></li>
            </ul>

            <ul class="list-unstyled">
                {{#each pages}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>

            <div class="aside__footer col-3">
                <a href="https://github.com/r4fx/mate" target="_blank">GitHub Page</a>
            </div>
        </div>
    </aside>

    <section class="col-9 col-12--phone col-9--tablet">
        <h1>{{title}}</h1>

        {% body %}
    </section>
</main>
</body>
</html>